<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Fun'd</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
  <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-[#d9e9e8]">
  <div class="flex flex-col justify-around ">
    <header class="flex justify-between content-center p-4">
      <div class="flex-col">
        <h1 class="text-center">
          <a class="" href="/">Food Fun'd</a>
          <span role="img" aria-label="money">🥗</span>
        </h1>
        <h3 class="">Save Money 🤑 Save Food 🍔 </h3>
      </div>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="flex flex-col w-1-4 content-center items-center p-5 mt-2 bg-[#a8a8a8]">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
