<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a New Restaurant:</h3>

    <form class="form new-restaurant-form">
      <div class="form-group">
        <label for="restaurant-name">Restaurant Name:</label>
        <input class="form-input" type="text" id="restaurant-name" name="restaurant-name" />
      </div>
      <div class="form-group">
        <label for="meals-available">Meals Available:</label>
        <input class="form-input" type="number" id="meals-available" name="meals-available" />
      </div>
      <div class="form-group">
        <label for="cuisine">Cuisine:</label>
        <textarea class="form-input" id="cuisine" name="cuisine"></textarea>
      </div>
      <div class="form-group">
        <label for="restaurant-lat">Lat:</label>
        <textarea class="form-input" id="restaurant-lat" name="restaurant-lat"></textarea>
      </div>
      <div class="form-group">
        <label for="restaurant-lon">Lon:</label>
        <textarea class="form-input" id="restaurant-lon" name="restaurant-lon"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Restaurant</button>
      </div>
    </form>
  </div>

  {{#if restaurants.length}}
  <div class="col-md-6 restaurant-list">
    <h3>Current Restaurants:</h3>

    {{#each restaurants as |restaurant|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/restaurant/{{restaurant.id}}">{{restaurant.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{restaurant.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
